<%--
  Created by IntelliJ IDEA.
  User: 18068
  Date: 2019/1/21
  Time: 11:58
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery.js" th:src="@{/js/jquery.js}" ></script>
    <script  src="Highcharts-7.0.2/code/highcharts.js" th:src="@{/Highcharts-7.0.2/code/highcharts.js}"></script>
    <script type="text/javascript">
        Highcharts.setOptions({ global: { useUTC: false } });
    </script>
</head>
<script type="text/javascript">
    $(function() {
        var options = {
            chart : {
                type : 'line' , //指定图表的类型，默认是折线图（line）
                renderTo: 'container',
            },
            title : {
                text : 'My first Highcharts chart' //指定图表标题
            },
            xAxis : {
                // type:'datetime',
                // tickInterval:24 * 3600 * 1000,
                categories:[],
                // dateTimeLabelFormats:{
                //     day:'%Y-%m-%d',
                // }
            },
            yAxis : {
                allowDecimals:true,
                title : {
                    text : '价格'   // 指定y轴的标题
                },
                categories:[]
            },
            tooltip:{
                xDateFormat: '%Y-%m-%d',
                shared: true
            },
            series : [{ //指定数据列
                name : 'Jane', //数据列名
                data : [ 1.2, 0,5, 4 ,5,6,2,5,7] //数据
            }]  //指定数据列,这里设为空，我们从后台拿数据
        };
        let xdata=[]
        let ydata=[]
        $.ajax({
            url:"user/queryList",
            success:function (res) {
                console.log(res);

                for(var i=0;i<res.length;i++){
                    ydata.push(res[i].count)
                    xdata.push(parseInt(res[i].day))
                }
                options.xAxis.categories=xdata
                // options.yAxis.categories=ydata
                options.series=[{    name:'lsp',
                                    data:ydata
                                }]
                //初始化chart
                var chart = new Highcharts.Chart(options);

            }
        })

    })
</script>
<body>
<div id="container" style="min-width:400px;height:400px"></div>
</body>
</html>
