<%--
  Created by IntelliJ IDEA.
  User: 18068
  Date: 2019/1/21
  Time: 11:58
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/Highcharts-7.0.2/code/highcharts.js}"></script>
</head>
<script type="text/javascript">
    $(function() {
        var charts = Highcharts.chart({
            // Highcharts 配置
            chart: {
                renderTo: 'container',  // 或 document.getElementById('container')
                // borderColor: '#9A32CD',
                // animation: false,
                // backgroundColor: '#cdba96',
                // borderWidth: 5,
                type: 'spline'
            },
            credits:{//版权信息
                href: 'https://www.pinjuntech.com',
                style:{
                    "cursor": "pointer",
                    "color": "#999999",
                    "fontSize": "20px"
                },
                text: '品郡公社'
            },
            title: {
                align: 'left',
                text: '待付款订单数据' //指定图表标题
            },
            xAxis: {
                title: {
                    text: '时间', //指定y轴的标题
                    align: 'high'
                },
                categories: ['my', 'first', 'chart'] //指定x轴分组
            },
            yAxis: {
                title: {
                    text: '数量', //指定y轴的标题
                    align: 'high'
                }
            },
            series: [{ //指定数据列
                name: 'Jane', //数据列名
                data: [1, 0, 4] //数据
            }, {
                name: 'John',
                data: [5, 7, 3]
            }],
            exporting:{

            }
        });
    })
</script>
<body>
<div id="container" style="min-width:400px;height:400px"></div>
</body>
</html>
